/* some help from run-buddy :) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#eeeee4 ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* applying styles to header */
header {
    padding: 20px 30px;
    background-color:#063970;
    border-bottom-left-radius: 100px ;
    border: solid #154c79 10px;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: white;
    margin: 0 0 0 20px;
    display: inline;
}

header a {
    text-decoration: none;
    color: white;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-size: larger;
}

/* adding some pseudo classes to do things when it hovers */
header nav ul li a:hover {
   text-shadow: 2px 2px 4px #000;
}

header h1:hover {
    text-shadow: 2px 2px 4px #000;
}

.article {
    padding: 20px 30px;
    background-color:#063970;
    border-radius: 100px 0 0 100px ;
    border: solid #154c79 10px;
    color: white;
    margin: 0 auto 0 auto;
    overflow: auto;
}

.article h2, h3 {
    margin: 10px 0 10px 0;
    text-decoration: underline;
    font-weight: bold;
}
.fishing img {
    width: 25%;
    float: left;
    margin: 10px;
    border-radius: 100%;
}

.box {
    width: 670px;
    height: 470px;
    margin: 10px;
    padding: 0px;
    border: 10px solid black;
}

.box img {
    width: 100%;
    height: 100%;
}

.box-1 img {
    object-fit: cover;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

